nav{
    border:1px solid grey;
    background: antiquewhite;
}

nav ul li{
     display: inline-block;
     margin: 12px;
     padding: 4px;
    border: 1px solid salmon;
 }

nav ul li a{
 text-decoration: none;
    cursor: pointer;
}