<!doctype html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.module.js"></script>
    <script src = "posts-list/posts-list.component.js"></script>
</head>

<body ng-controller="mainCtrl as vm">

<nav>
    <ul>
        <li>TABS</li>
        <li><a ui-sref = 'home'>Home</a></li>
        <li><a ui-sref = 'posts'>Posts</a></li>

    </ul>
</nav>

<ui-view></ui-view>

    <h1>the sky is {{2>1}}ly blue</h1>
    <h1>{{vm.hello}}</h1>
    <input type="text" ng-model="vm.hello">
    <span ng-bind = "vm.name"></span>

    <h3>List of fruits:</h3>
    <p>search by value:</p>
    <input type="text" ng-model = "vm.search">



    <posts-list></posts-list>

    <button ng-click = 'vm.alertMe()'>click to alert</button>

<script src = 'https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js'></script>
</body>

</html>